@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

//bootstrap variables

$grid-columns: 12;
$grid-gutter-width: 0;
$spacer: 1rem;

//custom font variables

@font-face {
  font-family: 'Cocogoose';
  src: url('./assets/fonts/Cocogoose_trial.otf') format('truetype');
}

$font-size-mob: 14px;
$font-size-tab: $font-size-mob * 1.2;
$font-family-base: 'Cocogoose', serif;
$font-family-lato: 'Lato', sans-serif !default;

//lintern would not allow to use bootstrap variables directly, so...
$b-primary: #ec5242;
$b-secondary: #d3d3d3;
$b-dark: #272a31;
$b-light: #e3e3e3;

$b-breakpoint-sm: 576px;
$b-breakpoint-md: 768px;

$theme-colors: (
  "primary": $b-primary,
  "secondary": $b-secondary,
  "light": $b-light,
  "dark": $b-dark
);

body {
  font-size: $font-size-mob;
  font-family: 'Lato', sans-serif;

  a {
    text-decoration: none;
    color: $b-dark;

    &:hover {
      text-decoration: none;
    }
  }

  %h-styles {
    font-weight: 700;
    font-family: 'Cocogoose', serif;
  }

  h1 {
    @extend %h-styles;

    font-size: $font-size-mob * 2;
  }

  h2 {
    @extend %h-styles;

    font-size: $font-size-mob * 1.8;
  }

  h3 {
    @extend %h-styles;

    font-size: $font-size-mob * 1.6;
  }

  h4 {
    @extend %h-styles;

    font-size: $font-size-mob * 1.4;
  }

  h5 {
    @extend %h-styles;

    font-size: $font-size-mob * 1.2;
  }

  h6 {
    @extend %h-styles;

    font-size: $font-size-mob * 1;
  }

  p {
    font-size: $font-size-mob * 1;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
}

.uppercase {
  text-transform: capitalize;
}

.lato {
  font-family: $font-family-lato;
}

.w80 {
  width: 80%;
}

.dragon-bg {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 768px 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.fog {
  background: linear-gradient(to bottom, rgba(241, 241, 241, 0.4), $b-light 40%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.spacer {
  margin: 20%;
  background: blue;
}

//tablet-size

@media (min-width: $b-breakpoint-md) {
  body {
    font-size: $font-size-tab;

    h1 {
      font-size: $font-size-tab * 2;
    }

    h2 {
      font-size: $font-size-tab * 1.8;
    }

    h3 {
      font-size: $font-size-tab * 1.6;
    }

    h4 {
      font-size: $font-size-tab * 1.4;
    }

    h5 {
      font-size: $font-size-tab * 1.2;
    }

    h6 {
      font-size: $font-size-tab * 1;
    }

    p {
      font-size: $font-size-tab * 1;
    }

    main {
      width: 80%;
    }
  }

  .dragon-bg {
    background-position: center;
    background-size: cover;
    z-index: -5;
  }

  .fog {
    background: linear-gradient(to bottom, rgba(241, 241, 241, 0), $b-light 60%);
    z-index: -4;
  }

  .spacer {
    margin: 150px;
  }
}

//non-general classes here

@import "node_modules/bootstrap/scss/bootstrap";
